{%extends 'src/base.html'%}
{%block title%} Movie view {%endblock%} 


{%block content%}
    <link rel="stylesheet" href="{{url_for('static', filename='movie.css')}}">
    
    <iframe width="1400" height="800" class="trailer"
        name="{{movie.name}}"
        src="{{movie.trailer_link}}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        
        >
        
    </iframe>

    <p class="director">
        <h3>Director</h3>
        {{movie.director}}   
    </p>

    <p class="description">
        <h4>Description</h4>
       {{movie.description}} 
    </p>

    <p class="reservation">
        <a href="{{url_for('main.reservation', movie_id=movie.id)}}"> Reservation </a>
    </p>

    <p class="rank"> 
        Please give us feedback
        <input type="radio" id="1" value="1">
        <label for="1">1</label>
        <input type="radio" id="2" value="2">
        <label for="2">2</label>
        <input type="radio" id="3" value="3">
        <label for="1">3</label>
        <input type="radio" id="4" value="4">
        <label for="2">4</label>
        <input type="radio" id="5" value="5">
        <label for="5">5</label>
    </p>




    
        
{%endblock%}

