{% extends 'src/base.html' %}

{%block title%} User view {%endblock%}  

{%block content%} 
    <link rel="stylesheet" href="{{url_for('static', filename='projection.css')}}">
    <!-- LEFT COLUMN-->
    
    <div class = "user-data">
        <!-- Default picture-->
        {%if user.image_path%}
            <img class="profile-image" src ="{{url_for('data.get_profile_img', img=user.image_path)}}" alt = "ProfilePic">
        {%else%}
            <img class="profile-image" src ="https://i.pinimg.com/236x/93/c6/36/93c63658c33616e774681d4b3e0b5755.jpg" alt = "ProfilePic">
        {%endif%}
        <!--Form to change the default picture-->
        <form action="" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            Change Profile Picture: <br>
            <input type="file" name="img" id="img" accept="image/*" required >
            <input type="submit" value="Set">
            <input type="hidden" name="type" value="upload_picture">
        </form>
        <br>
        <h2>{{user.name}}</h2>

        <ul>
            <li>Email: {{user.email}}</li>
        </ul>
    </div>
    
    <!-- RIGHT COLUMN-->
    <div class="analytics-data">

        <!--Create a movie projection-->
        
        <div class="projection-header">
            <div class="projection-data">
                <h2>{{projection.movie.name}}</h2>
                <h4> Date: {{projection.date}}</h4>
                <h4> Screen {{projection.screen.id}}</h4>
                <form class="cancel-projection" action="" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" value="Cancel Projection">
                    <input type="hidden" name="projection_id" value="{{projection.id}}">
                    <input type="hidden" name="type" value="cancel_projection">
                </form>
            </div>
            
            <img class="projection-graph" src="data:image/png;base64,{{analytics_plot}}">
            
        </div>

        <h2>Reservations</h2>
        <!--List of movie projections-->
        {% if projection.reservations | length < 1 %}
            <!-- If there are no movies we show a message saying that -->
            <p class="no-reservations-message"> There are not projections programed</p>
        {%else%}
            {%for reservation in projection.reservations%}
            <!-- We display the information of the reserved movies -->
                <div class="reservation-box">
                    <b>{{reservation.user.name}} </b><br>
                    
                        Date: {{reservation.date}} <br>
                        Seats: {{reservation.seats}}<br>
                        <form action="" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <textarea placeholder="Cancellation Body" id = "feedback" name = "feedback" rows = 2 cols = 50 required></textarea><br>
                            <input type="submit" value="Cancel Reservation">
                            <input type="hidden" name="reservation_id" value="{{reservation.id}}">
                            <input type="hidden" name="type" value="cancel_reservation">
                        </form>
                        
                        <br>
                </div>
            {% endfor %}
        {%endif%}
    </div>
{%endblock%}