{%extends 'src/base.html'%}

{%block title%} Reserve {%endblock%}

{%block content%}
    <link rel="stylesheet" href="{{url_for('static', filename='reservation.css')}}">
    <div id="zone1">
        <h3>Projection</h3>
        <ul id="reservation_details">
            <p>
                Selct a movie projection
            </p>
            
        </ul>
        
        <ul>
            <form action="{{url_for('main.reservation', movie_id=movie.id)}}" method="post" id="reservation_form">
                <input type="hidden" name="movie_projection_id" id="movie_projection_id">
                <b>Seats:</b> <input type="number" name="number_seats" id="number_seats" min="1" max="40" value="1" size="3">
                <br><br>
                <input id="reserve_button" type="submit" value="Reserve Now" disabled>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
        </ul>
    </div>
    <div id="zone2">
        {%include 'src/schedule2.html'%}
    </div>
{%endblock%}