<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User view</title>
    </head>
    <body class = "user view-light grey">
    <!-- PAGE CONTAINER-->
        <div class = "user-view-body" style = "max-widht:1400px;">
            <div class = "user-view-margin-top" style = "max-width">
                <!--THE GRID-->
                <div class = "user-view-row-padding">
                    ::before
                    <!-- LEFT COLUMN-->
                    <div class = "user-view-third">
                        <div class = "display-container">
                            <!-- USER PROFILE PICTURE-->
                            <img src ="" style = "width:100%" alt = "ProfilePic">
                            <div class = "user-display-bottomleft container">
                                ::before
                                <h2>{{user.name}}</h2>
                                ::after
                            </div>
                        </div>
                        <div class = "user-container">
                            ::before
                            <p>
                                <i class = "fa fa-home fa-fw margin-right user-large user-text-teal">
                                    ::before
                                </i>
                                {{user.email}}
                            </p>
                            <p class = "user-large">
                                <b>
                                    <i class = "fa fa-asterisk fa -fw user-margin-right user-text-teal">
                                        ::before
                                    </i>
                                </b>
                                {{user.location}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <footer>
        <p> Directed by professor <a href = "https://www.it.uc3m.es/jaf/" target="_blank"> Jesús Arias Fisteus</a></p>
    </footer>
</html> 