{% extends 'src/base.html' %}

{%block title%} User view {%endblock%}  

{%block content%} 
    <link rel="stylesheet" href="{{url_for('static', filename='user_template.css')}}">
    <!-- LEFT COLUMN-->
    <div class = "user-data">
        <!-- Default picture-->
        <img src ="https://i.pinimg.com/236x/93/c6/36/93c63658c33616e774681d4b3e0b5755.jpg" style = "width:100%" alt = "ProfilePic">
        <b>{{user.name}}</b> 
        <br>
        Email: {{user.email}}
        
        <form class="feedback" method="post">
            <h6>Give us your opinion on the service:</h6> 
            <textarea id = "feedback" name = "feedback" rows = 5 cols = "40"></textarea>
            <br>
            <input type = "submit" value = "Submit">
        </form>
    </div>

    <!-- RIGHT COLUMN-->
    <div class="reservations-data">
        <!-- Movies to see-->
        
        <h3 class="section-title"> To be seen </h3>
        {% if reservations_after | length < 1 %}
            <!-- If there are no movies we show a message saying that -->
            <p class="no-reservations-message"> You currently have no movies reserved</p>
        {%else%}
            {%for reservation in reservations_after%}
            <!-- We display the information of the reserved movies -->
                <div class="reservation-box">
                    <b>{{reservation.projection.movie.name}} </b><br>
                    
                        Date: {{reservation.projection.date}} <br>
                        Screen: {{reservation.projection.screen_id}} <br>
                        Seats: {{reservation.seats}}<br>
                        <button class="cancel-button">cancel</button> <br>
                        <br>
                </div>
            {% endfor %}
        {%endif%}

        <!--Movies already seen-->
        <h3 class="section-title"> Already seen</h3>
        {% if reservations_before |length < 1 %}
            <p class="no-reservations-message"> You have not seen any movies !</p>
        {% else %}
            {% for reservation in reservations_before%}
            <!-- We display the information of the already seen movies -->
                <div class="reservation-box">
                        <b>{{reservation.projection.movie.name}}</b> <br>
                        Date: {{reservation.projection.date}} <br>
                        Screen: {{reservation.projection.screen_id}} <br>
                        Seats: {{reservation.seats}} <br>
                        <br>
                </div>
            {%endfor%}
        {%endif%}
    </div>
{%endblock%}