<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        {%block title%}
        {%endblock%}
    </title>
</head>
<body>
    <!--Navbar-->
    {%include "src/navbar.html"%}

   <!--Content--> 
    <section class="content">
        {%block content%}
        {%endblock%}
    </section>

    <!--Footer-->
    {%include 'src/footer.html'%}

    <!--script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>-->
    
</body>
</html>