<link rel="stylesheet" href="{{url_for('static', filename='movies.css')}}">
<div class='movie-continer'>
    {%for movie in all_movies%}
        <div class="movie-container-item">
            <a  href="{{url_for('main.movie', movie_id=movie.id)}}">
                <img src="{{url_for('static', filename=movie.image_path)}}">
                <div class="movie-container-item-data">
                    {{movie.name}}</i>
                </div>
            </a>
        </div>
    {%endfor%}   
</div>