<link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
<nav class="navbar">
    <!--Title-->
    <div class='navbar-title'>
        <a href="{{url_for('main.home')}}">Cinema Carlos III</a>
    </div>
    
    <!--Links-->
    <div class='navbar-items'>
        <div class="navbar-item">
            <a href="{{url_for('auth.logout')}}">LogOut</a>
        </div>

        <div class="navbar-item">
            <a href="{{url_for('auth.register')}}">Register</a>
        </div>
        <div class="navbar-item">
            <a href="{{url_for('auth.login')}}">Login</a>
        </div>

        <div class="navbar-item">
            <a href="{{url_for('main.user_template')}}">User</a>
        </div>

        <div class='navbar-title'>
            <a href="{{url_for('main.home')}}">Home</a>
        </div>
        
    </div>
</nav>
