<link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
<nav class="navbar">
    <!--Title-->
    <div class='navbar-title'>
        Movie theather
    </div>
    
    <!--Links-->
    <div class='navbar-items'>
        <div class="navbar-item">
            <a href="{url_for(link)}}">URL1</a>
        </div>
        <div class="navbar-item">
            <a href="{url_for(link)}}">URL1</a>
        </div>
        <div class="navbar-item">
            <a href="{url_for(link)}}">URL1</a>
        </div>
        <div class="navbar-item">
            <a href="{url_for(link)}}">URL1</a>
        </div>
    </div>
</nav>
