<link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
<table>
    <thead>
        <tr class="title">
            <td id="time" class='time'>Time</td>
            <td>Sunday</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wenesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
        </tr>
    </thead>
    <tbody>
        <tr id='8'>
            <td class="time">08:00</td>
            <td id="r1c1"></td>
            <td id="r1c2"></td>
            <td id="r1c3"></td>
            <td id="r1c4">a</td>
            <td id="r1c5"></td>
            <td id="r1c6"></td>
            <td id="r1c7"></td>
        </tr>
        <tr id='9'>
            <td class='time'>09:00</td>
            <td id="r2c1"></td>
            <td id="r2c2"></td>
            <td id="r2c3"></td>
            <td id="r2c4">a</td>
            <td id="r2c5"></td>
            <td id="r2c6"></td>
            <td id="r2c7"></td>
        </tr>
        <tr id='10'>
            <td class='time'>10:00</td>
            <td id="r3c1"></td>
            <td id="r3c2"></td>
            <td id="r3c3"></td>
            <td id="r3c4">a</td>
            <td id="r3c5"></td>
            <td id="r3c6"></td>
            <td id="r3c7"></td>
        </tr>
        <tr id='11'>
            <td class='time'>11:00</td>
            <td id="r4c1"></td>
            <td id="r4c2"></td>
            <td id="r4c3"></td>
            <td id="r4c4">a</td>
            <td id="r4c5"></td>
            <td id="r4c6"></td>
            <td id="r4c7"></td>
        </tr>
        <tr id='12'>
            <td class='time'>12:00</td>
            <td id="r5c1"></td>
            <td id="r5c2"></td>
            <td id="r5c3"></td>
            <td id="r5c4">a</td>
            <td id="r5c5"></td>
            <td id="r5c6"></td>
            <td id="r5c7"></td>
        </tr>
        <tr id='13'>
            <td class='time'>13:00</td>
            <td id="r6c1"></td>
            <td id="r6c2"></td>
            <td id="r6c3"></td>
            <td id="r6c4">a</td>
            <td id="r6c5"></td>
            <td id="r6c6"></td>
            <td id="r6c7"></td>
        </tr>
        <tr id='14'>
            <td class='time'>14:00</td>
            <td id="r7c1"></td>
            <td id="r7c2"></td>
            <td id="r7c3"></td>
            <td id="r7c4">a</td>
            <td id="r7c5"></td>
            <td id="r7c6"></td>
            <td id="r7c7"></td>
        </tr>
        <tr id='15'>
            <td class='time'>15:00</td>
            <td id="r8c1"></td>
            <td id="r8c2"></td>
            <td id="r8c3"></td>
            <td id="r8c4">a</td>
            <td id="r8c5"></td>
            <td id="r8c6"></td>
            <td id="r8c7"></td>
        </tr>
        <tr id='16'>
            <td class='time'>16:00</td>
            <td id="r9c1"></td>
            <td id="r9c2"></td>
            <td id="r9c3"></td>
            <td id="r9c4">a</td>
            <td id="r9c5"></td>
            <td id="r9c6"></td>
            <td id="r9c7"></td>
        </tr>
        <tr id='17'>
            <td class='time'>17:00</td>
            <td id="r10c1"></td>
            <td id="r10c2"></td>
            <td id="r10c3"></td>
            <td id="r10c4">a</td>
            <td id="r10c5"></td>
            <td id="r10c6"></td>
            <td id="r10c7"></td>
        </tr>
        <tr id='18'>
            <td class='time'>18:00</td>
            <td id="r11c1"></td>
            <td id="r11c2"></td>
            <td id="r11c3"></td>
            <td id="r11c4">a</td>
            <td id="r11c5"></td>
            <td id="r11c6"></td>
            <td id="r11c7"></td>
        </tr>
        <tr id='19'>
            <td class='time'>19:00</td>
            <td id="r12c1"></td>
            <td id="r12c2"></td>
            <td id="r12c3"></td>
            <td id="r12c4">a</td>
            <td id="r12c5"></td>
            <td id="r12c6"></td>
            <td id="r12c7"></td>
        </tr>
        <tr id='20'>
            <td class='time'>20:00</td>
            <td id="r13c1"></td>
            <td id="r13c2"></td>
            <td id="r13c3"></td>
            <td id="r13c4">a</td>
            <td id="r13c5"></td>
            <td id="r13c6"></td>
            <td id="r13c7"></td>
        </tr>
        <tr id='21'>
            <td class='time'>21:00</td>
            <td id="r14c1"></td>
            <td id="r14c2"></td>
            <td id="r14c3"></td>
            <td id="r14c4">a</td>
            <td id="r14c5"></td>
            <td id="r14c6"></td>
            <td id="r14c7"></td>
        </tr>
        <tr id='22'>
            <td class='time'>22:00</td>
            <td id="r15c1"></td>
            <td id="r15c2"></td>
            <td id="r15c3"></td>
            <td id="r15c4">a</td>
            <td id="r15c5"></td>
            <td id="r15c6"></td>
            <td id="r15c7"></td>
        </tr>
        <tr id='23'>
            <td class="time">23:00</td>
            <td id="r16c1"></td>
            <td id="r16c2"></td>
            <td id="r16c3"></td>
            <td id="r16c4">a</td>
            <td id="r16c5"></td>
            <td id="r16c6"></td>
            <td id="r16c7"></td>
        </tr>
        <tr id='0'>
            <td class='time'>00:00</td>
            <td id="r17c1"></td>
            <td id="r17c2"></td>
            <td id="r17c3"></td>
            <td id="r17c4">a</td>
            <td id="r17c5"></td>
            <td id="r17c6"></td>
            <td id="r17c7"></td>
        </tr>
    </tbody>
</table>
<script src="{{url_for('static', filename='js/reservation.js')}}"></script>