<link rel="stylesheet" href="{{url_for('static', filename='schedule2.css')}}">
<div class="schedule">
    <div class = "hour-col">
        <div class="col-title">Time</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Monday</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Tuesday</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Wenesday</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Thursday</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Friday</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Saturday</div>
    </div>
    <div class = "day-col">
        <div class="col-title">Sunday</div>
    </div>
</div>