<link rel="stylesheet" href="{{url_for('static', filename='schedule2.css')}}">
<div class="schedule">
    <div class = "hour-col">
        <div class="col-title">Time</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="0">Monday</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="1">Tuesday</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="2">Wenesday</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="3">Thursday</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="4">Friday</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="5">Saturday</div>
    </div>
    <div class = "day-col">
        <div class="col-title" id="6">Sunday</div>
    </div>
</div>