<link rel="stylesheet" href="{{url_for('static', filename='schedule2.css')}}">
<div class="schedule">
    <div class = "hour-col">
        <div class="col-title">Time</div>
    </div>
    <div class = "day-col" id="0">
        <div class="col-title" >Monday</div>
    </div>
    <div class = "day-col" id="1">
        <div class="col-title">Tuesday</div>
    </div>
    <div class = "day-col" id="2">
        <div class="col-title" >Wenesday</div>
    </div>
    <div class = "day-col" id="3">
        <div class="col-title">Thursday</div>
    </div>
    <div class = "day-col" id="4">
        <div class="col-title">Friday</div>
    </div>
    <div class = "day-col" id="5">
        <div class="col-title">Saturday</div>
    </div>
    <div class = "day-col" id="6">
        <div class="col-title">Sunday</div>
    </div>
</div>
<script src="{{url_for('static', filename='js/reservation.js')}}"></script>