.movie-container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.movie-container-item
{
    display: inline-flex;
    margin-bottom: 20px;
    width: 19%;
    margin-inline: 0.3%;
    height: 400px;
}

.movie-container-item a, img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow:visible;
    text-decoration: none;
}

.movie-container-item-data
{
    width:100%;
    position: sticky;
    margin-top: -35px;
    font-size: 15px;
    color:floralwhite;
    background-color: rgba(5, 5, 5, 0.5);
}