.navbar
{
    display: flex;
    flex-direction: row;
}

.navbar-title
{
    width: 85%; 
}

.navbar-items
{
    width: 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
