.navbar
{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 40px;
    font-size: 30px;
    border-bottom: 2px solid black;
    border-radius: 1px;
}

.navbar-title
{
    width: 30%;
    background-color: inherit;
    
}

.navbar-title a
{
    text-decoration: none;
}

.navbar-items
{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

.navbar-items a
{
    
    text-decoration: none;
    color: black;
    margin-left: 15px;

} 

