Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: white;  
  }  

  form {   
    border: 3px solid #f1f1f1;   
}  
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}  


section
{
  display: flex;
  flex-direction: row;
  padding-top: 1%;
}

.user-data
{
  width: 30%;
}

.analytics-data
{
  width: 100%;
  padding-left: 2%;
}

.feedback
{
  padding-top: 20px;
  border: 0;
}

.feedback h6
{
  margin-bottom: 5px;
}
.section-title
{
  width: 100%;
  text-align: center;
}

.cancel-projection
{
    height: 30px;
    margin-bottom: 30px;
}

.cancel-projection input
{
    height: 30px;
}

.projection-header
{
    display: flex;
}
.projection-data
{
  width: 45%;
}
.projection-graph
{
    width: 50%;
    height: 150px;
}

.profile-image
{
  width: 100%;
}
.analytics-website
{
  height: 300px;
}

.analytics-movie
{
  height: 350px;
}