.cotent
{
    display: inline-flex;
}

h2, h3
{
    text-align: center;
    width: 100%;
}

#zone1{
    display: inline-flex;
    flex-direction: column;
    width: 15%;
}

#zone2{
    display: inline-flex;
    flex-direction: column;
    border-width: 5px;
    border-color: lightcyan;
    width: 84%;
}