.schedule
{
    margin-top: 2%;
    display: inline-flex;
    border-color:black;
    width: 100%
}
.header-schedule
{
    width: 100%;
    height: 40px;
}

#previous_week
{
    margin-right: 25%;
}
#next_week
{
    margin-left: 25%;
}
.hour-col{
    width: 9%;
    flex-direction: column;
}
.hour{
    border-bottom: 1px solid black;
    height: 40px;
    text-align: center;

}

.day-col{
    width: 13%;
    flex-direction: column;
    border-left: 2px solid black;
}

.col-title{
    border-bottom: 2px solid black;
    text-align: center;
}

.projection{
    border-bottom: 1px solid black;
    height: 40px;
    text-align: center;
}