Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: white;  
  }  

  form {   
    border: 3px solid #f1f1f1;   
}   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}  


#zone1{
  display: inline-flex;
  flex-direction: column;
  width: 15%;
}

#zone2{
  display: inline-flex;
  flex-direction: column;
  border-width: 5px;
  border-color: lightcyan;
  width: 84%;
}